<div class="intro col-12 text-center">
  <div class="intro-data">
    <h1> Welcome to Rails Blog</h1>
    <%= link_to "Sign Up Now", signup_path   , class: "btn btn-secondary btn-lg" %>
  </div>
</div>