<h2 align="center">Lastest Posts </h2>
<div class="container">
<div class="text-center">
  <%= link_to "Create New", new_post_path, class: "btn-primary btn btn-sm"  %>
</div>

<div class="mt-5"></div>
<%= render 'post', object: @posts %>



</div>