<h2 align="center">Lastest Posts </h2>
<div class="container">

<div class="mt-5"></div>


<%= render 'post', object: @posts %>

  <div class="col-sm-12" >
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class:  "pagination-sm offset-4") %>
  </div>

</div>