<h2 align="center">Listing Categories</h2>
<div class="d-flex justify-content-center">
<% @categories.each do |category| %>


    <h3 class="jumbotron ml-3"> <%= category.name %> </>


<% end %>
</div>