
<footer class="footer">
  <div class="container">
    <div class="col text-center" style="padding: 20px">
    <span class="text-muted">All Rights Reserved &commat; 2018 | <strong>Mahmoud Abdelmoneim</strong> </span>
    </div>
    </div>
</footer>